#router-content {
    width: 375px;
    height: 667px;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto min-content;

    overflow: hidden;

    background-color: var(--background);
}