@font-face {
    font-family: "Rubik";
    src: url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

:root {
    /* --nav-background: rgb(189, 220, 251); */
	--background: rgb(11, 28, 43);
    /* --background: white; */
	--element: rgb(7, 55, 99);
	--input: rgb(11, 83, 148);
	--button: rgb(57, 136, 211);
	--button-secondary: rgb(109, 184, 255);
	--alt: rgb(182, 215, 168);
	--input-text: white;
	--withdraw: rgb(252, 119, 119);
	--deposit: rgb(128, 252, 119);
	--subparagraph: lightgrey;
    --joy-font-fallback: "Rubik";
}

#root {
	width: 100%;
	height: 100%;
}

h1 {
	/* font-family: "Rubik";
	font-weight: bolder;
	font-size: 32px; */
}

/* input,
button,
select {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 18px;
    border: none;
    box-sizing: border-box;
    background-color: var(--element);
    color: var(--input-text);

    transition: box-shadow 0.2s;
} */
/* input:focus,
button:focus,
select:focus {
    box-shadow: inset 0px 0px 6px var(--button);
    outline: none;
} */
/* input,
select {
    padding-left: 12px;
} */

p {
	/* font-family: "Rubik";
	font-size: 18px; */
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	/* background-color: var(--background); */
	color: white;
}

.content-wrapper {
    width: 100%;
	height: 100%;
	overflow: hidden;

	grid-row-start: 1;
	grid-row-end: 2;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.0);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--element);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--input);
}
